body{
	margin: 0px;
}



.clickspot{
	text-decoration:underline;
	color:blue;
	cursor:pointer
}
.status{
	background-color:#fafafa;
	color: purple;
	border-bottom: solid 2px #d0d0d0;
	font-weight: solid;
}
.error{
	color:Red;
	background-color:Yellow
}

#mainnav .menuitem {
	color:black;
	cursor:hand;
	padding: 20px;
}

#mainnav .menuitem:active{
	text-decoration:underline;
	cursor:hand;
	color:red;
	font-weight:bold;
	background-color:white;
	border-radius: 1000px;
	font-size: 20;
}

#mainnav .menuitem:hover{
	text-decoration:underline;
	cursor:hand;
	color:blue;
	font-weight:bold;
	background-color:white;
	border-radius: 1000px;
	font-size: 20;
}


#divPageMenu .menuitem {
	color:blue;
	cursor:hand;
	padding: 0.2cm;
}


#divPageMenu .menuitem:hover{
	text-decoration:underline;
	color:black;
	font-size: 16;
	cursor:hand;
	font-weight:bold;
	background-color: #fafafa;
	border-radius: 1000;
}

#pageheader
{
    height: 1in;
    background-color: 1faaff;
    font-size: 36px;
	color: ffffff;
    text-align: center;
	border-bottom: solid 2px #d0d0d0;
}

#pageheaderI
{
    height: 0.3in;
    background-color: #d0d0d0;
    font-size: 16px;
	color: 000000;
    text-align: center;
	border-bottom: solid 2px #d0d0d0;
}

#mainnav{
	text-align: center;
	width:2in;
	vertical-align:top;
	background-color:#fafafa;
	
}


#content {
	width:10in;
	vertical-align:top;
	background-color:#ffffff;
}

#divPageMenu{
	height:0.5in;
	border-bottom: solid 2px #d0d0d0;
	padding-top: 0.2cm;
}

#divStatus{
	height:0.5in;
}

.reportTable 
{
    border:1px;
    border-collapse:collapse;
}

.reportTable .header
{
    background-color: #1faaff;
    text-transform: uppercase;
    color: White;
}

.reportTable .row1
{
    background-color: #FFEFBF;
}

.reportTable .row2
{
    background-color:White;
}

.reportTable tr:hover
{
    background-color:#EBF5FF
}

.tableForm .label
{
    background-color: #CC6600;
    text-transform:capitalize;
    color: White;
    text-align:right;
}

.tableForm .field
{
    background-color: #FFAE35;
}
.popupMenu
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}

.popupMenu div
{
    color: #FFFFFF;
    text-decoration: underline;
}

.popupMenu div:hover
{
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #CC6600;
}

.popupForm
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}

#txtSearch{
    height: 0.3in;
    width: 6in;
    font-family: cursive;
}
#divContent{
	padding-top: 0.1cm;
	background-color:white;
}

